doctype html 
html 
   head 
      title Quiz App 

   body 
      h1 welcome to the Quiz App 
      p select an option below to get started 

     div.actions 
         a.button(href='/api/v1/questions') Start Quiz 
         a.button(href='/about') About 

    footer 
       p 2025 Quiz App         